project_name          = "{{ project_name }}"
proxmox_endpoint      = "{{ proxmox.endpoint }}"
proxmox_token_id      = "{{ proxmox.token_id }}"
proxmox_token_secret  = "{{ proxmox.token_secret }}"

vm_name   = "{{ vm.name }}"
node      = "{{ vm.node }}"
memory_mb = {{ vm.memory_mb }}
cores     = {{ vm.cores }}
disk_gb   = {{ vm.disk_gb }}
storage   = "{{ vm.storage }}"
iso_image = "{{ vm.iso_image }}"
